* {
  box-sizing: border-box;
}

body,html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #081b29;
  color: #ffffff;
}

img {
  display: block;
}

.container {
  width: 1240px;
  margin-inline: auto;
  padding-inline: 20px;
}


.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #081b29;
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-block: 10px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #ffffff; 
  font-family: "Audiowide";
  font-size: 40px;
  letter-spacing: -2px;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
}

.navbar-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Quantico";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
}

.navbar-link:hover {
  color: #0ef;
  /* text-shadow: 0 0 10px rgba(74, 222, 128, 0.5); */
}


.hsize {
  font-family: "Aubrey";
  font-size: 60px;
  text-align: center;
  margin-block: 80px 40px;
  background: linear-gradient(to right, #0ef, #38bdf8);
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}

.list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.card {
  background: #2e333b;
  border: 1px solid #1e2125;
  border-radius: 24px;
  overflow: hidden; 
  transition: 0.4s ease;
  height: auto;
  padding-bottom: 25px;
}

.card:hover {
  transform: translateY(-10px);
  border-color: #0ef;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.project-pic {
  width: calc(100% - 20px);
  margin: 10px auto;
  border-radius: 18px;
  transition: 0.5s;
}

.card:hover .project-pic {
  transform: scale(1.02);
}

.strong {
  display: block;
  font-family: "Aubrey";
  font-size: 32px;
  color: #ffffff;
  padding-left: 20px;
  margin-top: 15px;
}

.gray-text {
  font-family: "Aubrey";
  font-size: 18px;
  color: #8b949e;
  padding-inline: 20px;
  margin-top: 10px;
  line-height: 1.4;
}

.more-bout-my-projects {
  display: block;
  width: fit-content;
  text-decoration: none;
  background: linear-gradient(90deg, #6366f1, #a855f7);
  color: white;
  padding: 18px 60px;
  border-radius: 50px;
  font-family: "Quantico";
  font-size: 22px;
  font-weight: bold;
  margin: 60px auto;
  transition: 0.4s;
}

.more-bout-my-projects:hover {
  box-shadow: 0 0 30px rgba(168, 85, 247, 0.6);
  transform: scale(1.05);
}

.site-footer {
  background-color: #081b29;
  border-top: 1px solid #30363d;
  padding-block: 60px;
}

.footer-top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  text-decoration: none;
  font-family: "Audiowide";
  font-size: 30px;
  color: #ffffff;
}

.footer-list {
  list-style: none;
  display: flex;
  gap: 25px;
  transition: 0.3s;
}

.footer-list i :hover {
  color: #0ef;
}

.link {
  text-decoration: none;
  color: #8b949e;
  font-family: "Quantico";
  font-size: 14px;
  transition: 0.3s;
}

.link:hover {
  color: #ffffff;
}